In [1]:
#importing libraries
import numpy as np
import pandas as pd

In [2]:
# read csv file
df = pd.read_csv('kc_house_data.csv')
# fetch first 5 rows
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
df.shape

(21613, 21)

In [4]:
#removing the column which is not require for prediction
df = df.drop(['id', 'date'], axis=1)

In [5]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [6]:
# a. Define dependent and independent variable
X = df.iloc[:, 1:]
y = df.iloc[:, 0]

In [7]:
X.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [22]:
y.head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64

In [9]:
# b. convert the total dataset into train (80%) and test (20%) subset.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [10]:
X_train.shape

(17290, 18)

In [11]:
X_test.shape

(4323, 18)

In [12]:
len(y_train)

17290

In [13]:
len(y_test)

4323

In [14]:
# c. create the Random Forest Model on training dataset
from sklearn.ensemble import RandomForestRegressor

In [15]:
regressor = RandomForestRegressor(n_estimators=100, random_state=0)

In [16]:
regressor.fit(X_train, y_train)

RandomForestRegressor(random_state=0)

In [17]:
# d.Test the model with testing dataset
y_pred = regressor.predict(X_test)

In [18]:
y_pred

array([ 317278.25, 1737560.2 ,  524281.  , ...,  414172.6 ,  229312.34,
        486869.54])

In [19]:
# e. compare the Actual and predicted prices of house.
ans = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
ans

          Actual   Predicted
17384   297000.0   317278.25
722    1578000.0  1737560.20
2680    562100.0   524281.00
18754   631500.0   536159.50
14554   780000.0   755124.60
...          ...         ...
5427    844000.0   820993.40
16547   335500.0   340738.54
4585    369950.0   414172.60
17762   300000.0   229312.34
16323   575950.0   486869.54

[4323 rows x 2 columns]

In [20]:
# f. Find the accuracy of model
acc = 100-np.mean(np.abs(y_test-y_pred)/np.abs(y_test))*100
print(acc)

87.34169307543246

In [21]:
print("Random Forest Regression Model Accuracy Score is : ", round(regressor.score(X_test, y_test),100))

Random Forest Regression Model Accuracy Score is :  0.8922704367880154