We have given dataset “ banknote_authentication.csv ” which contains features
of Bank Notes with one output column class. Create Ensemble Learning model
using Bagging and Boosting Technique to check the output class and accuracy.

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn import model_selection
from sklearn.tree import DecisionTreeClassifier

In [3]:
data = pd.read_csv('../datasets/banknote_authentication.csv')
data.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [5]:
data.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [4]:
X = data.drop(['class'], axis=1)
y = data['class']

In [7]:
# preprocessing
scaler = MinMaxScaler(feature_range=(0, 1))
normalizedData = scaler.fit_transform(X)

In [8]:
# Create Ensemble Learning Model using Bagging Technique
kfold = model_selection.KFold(n_splits=10, random_state=7, shuffle=True)
DTC = DecisionTreeClassifier()
model = BaggingClassifier(base_estimator=DTC, n_estimators=100, random_state=7)
results = model_selection.cross_val_score(model, normalizedData, y, cv=kfold)
print(results.mean())

0.9890722521950703

In [9]:
# Creante Ensemble Learning Model using AdaBoosting Technique
model = AdaBoostClassifier(n_estimators=100, random_state=7)
results = model_selection.cross_val_score(model, normalizedData, y, cv=kfold)
print(results.mean())

0.997080291970803