In [1]:
# import libraries 
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Social_Network_Ads.csv')

In [3]:
data.head()

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0          19000.0          0
1  15810944    Male  35.0          20000.0          0
2  15668575  Female  26.0          43000.0          0
3  15603246  Female  27.0          57000.0          0
4  15804002    Male  19.0          76000.0          0

In [4]:
X = data.iloc[:, 2:4].values
y = data.iloc[:, 4].values

In [7]:
# a. Convert the dataset into training and testing subsets.
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0,test_size=0.25)

In [9]:
# b. Perform feature scaling to rescale the training dataset.
from sklearn.preprocessing import StandardScaler

In [10]:
sc = StandardScaler()

In [11]:
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [12]:
# c. Create Logistic Regression Model on training dataset.
from sklearn.linear_model import LogisticRegression

In [13]:
model = LogisticRegression()

In [14]:
model.fit(X_train,y_train)

LogisticRegression()

In [15]:
# d. Test the model on testing dataset and predict the output.
y_pred = model.predict(X_test)

In [16]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1], dtype=int64)

In [17]:
# e. Analyze the output using confusion matrix.
from sklearn.metrics import confusion_matrix, accuracy_score

In [18]:
cm = confusion_matrix(y_test,y_pred)

In [19]:
print("Confusion Matrix: \n",cm)

Confusion Matrix:
 [[63  5]
 [ 8 24]]

In [20]:
print("Accuracy Score: ", accuracy_score(y_test,y_pred)*100)

Accuracy Score:  87.0