In [1]:
#Support Vector Machine Algorithm

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('letterdata.csv')

In [4]:
data.shape

(20000, 17)

In [7]:
data.head()

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [8]:
X=data.drop('letter',axis=1)

In [9]:
X.head()

,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [10]:
y=data['letter']

In [11]:
y.head()

0    T
1    I
2    D
3    N
4    G
Name: letter, dtype: object

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [14]:
len(X_train)

16000

In [15]:
len(X_test)

4000

In [17]:
from sklearn.svm import SVC

In [40]:
svclassifier = SVC(kernel='rbf',random_state=0)

In [41]:
svclassifier.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=0, shrinking=True,
  tol=0.001, verbose=False)

In [42]:
y_pred = svclassifier.predict(X_test)

In [43]:
result = pd.DataFrame({
    "Actual":y_test,
    "Predicted":y_pred
})

In [44]:
result.head()

      Actual Predicted
19134      Y         Y
4981       B         B
16643      K         K
19117      Y         X
5306       Q         Q

In [45]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [46]:
print(classification_report(y_pred,y_test))

             precision    recall  f1-score   support

          A       1.00      0.99      1.00       148
          B       0.96      0.96      0.96       159
          C       0.98      0.99      0.99       154
          D       0.96      0.96      0.96       172
          E       0.97      0.99      0.98       143
          F       0.97      0.96      0.97       168
          G       0.97      0.97      0.97       183
          H       0.93      0.95      0.94       121
          I       0.94      0.99      0.97       121
          J       0.98      0.96      0.97       162
          K       0.95      0.98      0.96       139
          L       0.99      0.99      0.99       159
          M       0.99      0.98      0.98       175
          N       0.99      0.98      0.98       135
          O       0.98      0.98      0.98       142
          P       0.98      0.98      0.98       164
          Q       1.00      0.97      0.99       149
          R       0.97      0.95      0.96       153
          S       0.99      0.99      0.99       154
          T       0.99      0.99      0.99       177
          U       0.99      1.00      1.00       159
          V       0.97      0.97      0.97       154
          W       0.99      0.99      0.99       142
          X       0.98      0.99      0.99       172
          Y       0.98      0.99      0.99       152
          Z       1.00      1.00      1.00       143

avg / total       0.98      0.98      0.98      4000

In [47]:
print(confusion_matrix(y_pred,y_test))

[[147   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0]
 [  0 152   0   1   0   0   1   0   0   0   0   0   1   0   0   0   0   1
    1   0   0   2   0   0   0   0]
 [  0   0 153   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0
    0   0   0   0   0   0   0   0]
 [  0   0   0 165   0   1   2   2   0   0   0   0   0   0   1   0   0   0
    0   0   0   0   0   1   0   0]
 [  0   0   0   0 141   0   0   0   0   0   0   1   0   0   0   1   0   0
    0   0   0   0   0   0   0   0]
 [  0   0   0   0   0 162   0   0   0   1   0   0   0   0   0   3   0   0
    0   1   0   1   0   0   0   0]
 [  0   1   3   1   1   0 177   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0]
 [  0   0   0   2   0   0   0 115   0   0   3   0   0   0   0   0   0   1
    0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0 120   1   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   6 156   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   2   0   0 136   1   0   0   0   0   0   0
    0   0   0   0   0   0   0   0]
 [  0   0   0   0   2   0   0   0   0   0   0 157   0   0   0   0   0   0
    0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   1   0   0   0   0 171   1   0   0   0   0
    0   0   1   0   1   0   0   0]
 [  0   0   0   0   0   0   0   0   1   0   0   0   0 132   0   0   0   2
    0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   1   0   0   1   0   0   0   1 139   0   0   0
    0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   3   0   0   0   0   0   0   0   0   0 161   0   0
    0   0   0   0   0   0   0   0]
 [  0   0   0   1   1   0   0   0   0   0   0   0   0   0   1   0 145   0
    0   0   0   0   0   1   0   0]
 [  0   1   0   0   0   0   0   3   0   0   3   0   0   0   0   0   0 145
    0   0   0   0   0   1   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
  153   0   0   0   0   0   1   0]
 [  0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0
    0 175   0   0   0   0   1   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0 159   0   0   0   0   0]
 [  0   4   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
    0   0   0 149   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0
    0   0   0   1 140   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0   0
    0   0   0   0   0 170   1   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   1   0   0   0   0 151   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0 143]]

In [48]:
print(accuracy_score(y_pred, y_test)*100)

97.85000000000001